body {
  background: pink;
  text-align:center;  
  height: 100%; 
  margin: 0px;
}
#cloud{  
  margin: 30px auto;
  position: relative;
  height: 600px;
  width: 600px;
}
#cloud div{
  position:absolute;
}
#cloud div::before, #cloud div::after {
  content:'';
  position:absolute;
  display:block;
}
.circle {
  background: white;
  width: 100px;
  height: 100px;
  top: 25%;
  left: 32%;
  border-radius: 100%;
  box-shadow: 180px -2px 0 3px white, 120px -50px 0 4px white, -15px -50px 0 -20px white, 50px -50px 0 4px white;
}
.circle:after {
  background: white;
  width: 175px;
  height: 60px;
  top: 40%;
  left: 45%;
}
.drop1 {
  z-index: -1;
  width: 20px;
  height: 160px;
  border-radius: 20px;
  top: 200px;
  left: 280px;
  background: red;
  position: absolute;
  animation: myFrames 3s ease-in-out 0s infinite;
}
.drop1:after {
  top: 10px;
  left: 46px;
  width: 13px;
  height: 100px;
  background: yellow;
  border-radius: 20px;
  animation: myFrames 4s ease-in-out 0s infinite;
}
.drop1:before {
  top: 10px;
  left: 96px;
  width: 13px;
  height: 100px;
  background: green;
  border-radius: 20px;
  animation: myFrames 2s ease-in-out 0s infinite;
}

@keyframes myFrames {
  from {
    height:70px;
  }
  to{
    height:400px;
    background: blue;
  }
}